.blog-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(280px, 300px));
	grid-gap: 50px;
	margin-top: 20px;
}
@media screen and (max-width: 968px) {
	.blog-container {
		display: grid;
		grid-template-columns: repeat(2, minmax(280px, 300px));
		grid-gap: 50px;
		margin-top: 20px;
	}
}